﻿
@{
    ViewBag.Title = "Index";
}

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-12">
        <br /><br />
        @Html.ActionLink("Solicitar Vacaciones", "VacationRequest", "Vacation", new { }, new { @class = "btn btn-success", @style = "color:#FFF" })
    </div>
</div>

<div class="row">
    <br /><br />
    <div class="col-md-12">
        <table id="tb_vacation">
            <thead>
                <tr>
                    <th>No. de Empleado</th>
                    <th>Nombre Completo</th>
                    <th>Antigüedad</th>
                    <th>Días pendientes de disfrute</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="~/desktopmodules/mvc/VacationModule/Scripts/main.js"></script>

