﻿
@{
    ViewBag.Title = "VacationRequest";
}



<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/desktopmodules/mvc/VacationModule/Styles/main.css" rel="stylesheet" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<link href="~/desktopmodules/mvc/VacationModule/Styles/datepicker.css" rel="stylesheet" />

<div class="row">
    <br /><br />
    <div class="col-md-12">
        <p>Por favor llenar la siguiente información para la elaboraciópn del documento de solicitud de vacaciones.</p>
    </div>
    <div class="col-md-12">
        <div class="form-group col-md-4">
            <label>Telefono de Oficina: </label>
            <input type="text" class="form-control phone_with_ddd" id="txt_telefonoOficina" />
        </div>
        <div class="form-group col-md-4">
            <label>Extensión: </label>
            <input type="text" class="form-control extension" id="txt_extension" />
        </div>
        <div class="form-group col-md-4">
            <label>Telefono Móvil: </label>
            <input type="text" class="form-control phone" id="txt_telefonoMovil" />
        </div>
    </div>
    <div class="col-md-12">
        <label>Vacaciones correspondientes a aniversario cumplido: </label>
        <input type="checkbox" checked data-toggle="toggle" id="chk_aniversarioCumplido">
    </div>
    <div class="col-md-12">
        <label>Permiso a cuenta de Vacaciones correspondientes a mi siguiente aniversario x cumplir: </label>
        <input type="checkbox" checked data-toggle="toggle" id="chk_aniversarioNoCumplido">
    </div>

    <div class="col-md-6">
        <br /><br />
        <br />
        <div class="col-md-12">
            <label>Cantidad de Días Solicitados a Disfrutar: </label>
            <input type="number" class="form-control" id="txt_cantidadDiasSolicitados" value="0" />
        </div>
        <div class="col-md-12">
            <label>Días a tomar: </label>
            <input type="text" class="form-control datepicker" id="txt_fechasATomar" />
            <button type="button" class="btn btn-info" id="btn_agregarFecha">Agregar</button>
        </div>
        <div class="col-md-12">
            <label>Nombre de Jefe Directo: </label>
            <input type="text" class="form-control" id="txt_nombreJefeDirecto" onkeypress="return validarLetras(event)" />
        </div>
        <div class="col-md-12">
            <label>Email de Jefe Directo: </label>
            <input type="text" class="form-control" id="txt_emailJefeDirecto" onkeyup="validarEmailInput(this.id,'txt_message_EmailJefeDirecto','emailJefeDirectoOk');" data-emailJefeDirectoOk="0" />
            <span class="" id="txt_message_EmailJefeDirecto"></span>
        </div>
        <div class="col-md-12">
            <label>Nombre de Supervisor Directo de TASISOFT: </label>
            <input type="text" class="form-control" id="txt_nombreSupervisor" onkeypress="return validarLetras(event)" />
        </div>
        <div class="col-md-12">
            <label>Email de Supervisor Directo de TASISOFT: </label>
            <input type="text" class="form-control" id="txt_emailSupervisor" onkeyup="validarEmailInput(this.id,'txt_message_EmailSupervisor','emailSupervisorOk');" data-emailSupervisorOk="0" />
            <span class="" id="txt_message_EmailSupervisor"></span>
        </div>
    </div>


    <div class="col-md-6">
        <br /><br />
        <button type="button" onclick="RemoveRow(); return false;" class="btn btn-danger">Remover dia</button>
        <br /><br />
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Días a tomar</th>
                </tr>
            </thead>
        </table>
        <br />
        <span class="text-primary bg-info" style="font-weight:bold;">Para remover alguna fecha elegida, seleccione la fila y de clic en Remover Día</span>
    </div>
</div>

<div class="row">
    <br /><br />
    <div class="col-md-12">
        <div class="alert" role="alert">

        </div>
    </div>
</div>
<div class="row">
    <br /><br />
    <div class="col-md-12">
        <div class="col-md-6">
            <button type="button" class="btn btn-success" id="btn_generarSolicitud">Generar Solicitud</button>
        </div>
    </div>
</div>


<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="~/desktopmodules/mvc/VacationModule/Scripts/main.js"></script>
<script src="~/desktopmodules/mvc/VacationModule/Scripts/jquery.mask.js"></script>
<script src="~/desktopmodules/mvc/VacationModule/Scripts/datepicker.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
